{% extends "SamyeEvtBundle::layout.html.twig" %}
 
{% block title %}
  Evénements - {{ parent() }}
{% endblock %}
 
{% block body %}

	<h2>Supprimer un événément</h2>
	
	<p> Evénement supprimé</p>
	
{% endblock %}