{% extends "SamyeEvtBundle::layout.html.twig" %}
 
{% block title %}
  Evénements - {{ parent() }}
{% endblock %}
 
{% block body %}

	<h2>Calendrier des événéments</h2>
		
	<div id="calendar"></div>
{% endblock %}