{% extends "SamyeEvtBundle::layout.html.twig" %}
 
{% block title %}
  Evénements - {{ parent() }}
{% endblock %}
 

{% block body %}
	<div id="contentLeft">
		<h2>Calendrier des événements</h2>
			
		<div id="calendar"></div>
		<div id="infoEvt"></div>
	</div>
	<div id="contentRight">	
		{%block right%}
		{% endblock %}
	</div>
{% endblock %}


{% block jsCal %}
<script type="text/javascript">
var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var info="";
		
	$('#calendar').fullCalendar({

		
		events : [
		{% for event in events %}
		{
			id: '{{event.id}}',
			title: '{{event.libelle}}',
			start: '{{event.dateDeb|date("Y-m-d") }}',
		},		
		{% endfor %}
		],
		eventClick: function(calEvent, jsEvent, view) {
		
			if($('#insideRight').hasClass("hidden")) {
			$('#resume').fadeOut(300, function() {
				
				resumeEvt(calEvent.id);
				$('#resume a#button').fadeOut(300);
			});
		} else {
			$('#insideRight').fadeOut(300).addClass("hidden");
			$(this).fadeIn(750, function() {
			
				$('#resume #contentRows').html("");
				resumeEvt(calEvent.id);
				$('#resume a#button').fadeIn(800);
			});
		}
		
		$('#resume #contentRows').html("");
		$('#resume a#button').hide();	
		
		// change the border color just for fun
	        //$(this).css('background-color', '#B1C601');
	        //$(this).css('border-color', '#B1C601');
			
   		},
	});
</script>
{% endblock %}