/**************************************/
/*****************Color***************/
/**************************************/

/*Dark Grey : #2B2B28
 * Green1 : #B1C601
 * White : #F3F3F3
 * Green2 : #6B752C
 * Green3 : #ADC134 
 */

/**************************************/

body{
	margin:0;
	padding:0;
	background:#2B2B28;
	font-size:12px;
	color:#2B2B28;
}
h1, h2, h3{
	color:#2B2B28;
}

h2 {
	border-radius:5px;
	text-transform:uppercase;
}

#body{
	font-family: Trebuchet, Verdana, Arial, sans-serif;
	width:100%;
	float:left;
	overflow:hidden;
}

.clear {
  clear: both;
}

.columnFivePercent{
	width:5%;
	float:left;
}
.columnTenPercent{
	width:10%;
	float:left;
}
.columnFifteenPercent{
	width:15%;
	float:left;
}
.columnTwentyPercent{
	width:20%;
	float:left;
}
.columnTwentyFivePercent{
	width:25%;
	float:left;
}
.columnFiftyPercent{
	width:50%;
	float:left;
}
.titleRow{
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding-top:3%;
}

#contentRows a {
	display:inline-block;
	color:#2B2B28;
	font-weight:bold;
}

.rowLink a {
	display:block;
	width:100%;
	height:32px;
}

.rowLink a:hover {
	background:#f6f6f6;
	border-radius:4px;
	cursor:pointer;
}

.contentRow{
	font-size:10px;
	text-align:center;
	padding-top:3%;
	line-height:32px;
	vertical-align:middle;
	border-bottom:1px, #ececec;
}

.row{
	margin-top:10px;
	margin-bottom:10px;
}
.rowUser{
	float:right;
	margin-top:10px;
	margin-bottom:10px;
}
div#buttonSet {
	float:right;
}

a#button {
	display:inline-block;
	margin:0 4px 12px;
	padding:4px 6px;
	border: 1px solid #e1e1e1;
	border-bottom:1px solid #b1b1b1;
	border-radius:4px;
	height:16px;
	line-height:16px;
	background:linear-gradient(#ffffff,#e9e9e9);
	text-decoration:none;
	color:#202020;
}

a#button:hover {
	background:linear-gradient(#eaeaea,#ececec);
}

/**************************************/
/*****************HEADER***************/
/**************************************/

#header{
	width:100%;
	float:left;
}

#topHeader{
	width:100%;	
	float:left;
}

#logo{
	width:29%;
	float:left;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
}

#menu{
	width:70%;
	float:left;
	padding-top:3%;
}

#menu * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menu a {
    display:block;
    padding:7px 14px 7px 14px;
    white-space:nowrap;
}
#menu li {
    float:left;
    background:#fff;
}
#menu li li {
    float:none;
    _border:1px solid #c4c4c4; /** fix for ie6 */
}
#menu div {
    visibility:hidden;
    position:absolute;
    background:url(images/pix.gif);
}
#menu div div {
    margin:-24px 0 0 -1px;
    left:100%;
}
#menu li:hover>div { visibility:visible; }

/* menu::special styles */
/* menu::level 1 */
#menu a {
    text-decoration:none;
    color:#fff;
    position:relative;
    z-index:77;
}
#menu a:hover {
    background:url(images/back.png);
    color:#B1C601;
}
#menu a:hover span { color:#B1C601; }
#menu>ul>li:hover>a {
    color:#bbb;
}
#menu>ul>li:hover>a span { color:#B1C601; }
#menu span {
    text-transform:uppercase;
    font:16px/22px 'Trebuchet MS', Arial, Helvetica, Sans-serif;
    color:#fff;
}
#menu li { background:none; }
/* menu::level >= 2 */

#menu ul ul{
	
    background: #2B2B28;
}

#menu li li a {
    padding:0;
    position:static;
}
#menu li li a span { color:#fff;}
#menu li li a:hover span { color:#ffffff; }
#menu li li a.parent span { background:url(images/pointer.gif) no-repeat right 9px; _background-position:right 10px; }
*+html #menu li li a.parent span { background-position:right 10px; }
#menu li li span {
    display:block;
    text-transform:none;
    line-height:16px;
    padding:4px 25px 4px 14px;
    font-size:11px;
}
#menu li div { background:url(images/back.png); }
/** <fix for ie6> */
#menu div div {
    _margin-top:-25px;
    _background:#c4c4c4;
}

/** </fix for ie6> */

/* lava lamp */
div#menu li.back {
    width:10px;
    height:32px;
    z-index:8;
    position:absolute;
}
div#menu li.back .left {
    width:auto;
    height:32px;
    float:none;
    position:relative;
    top:0;
    left:0;
    visibility:visible;
}

#profilBar{
	width:97%;
	display:table;
	margin:0 auto;
	padding-top:1%;
	padding-left:1%;
	padding-right:1%;
	padding-bottom:1%;
	background:#B1C601;
}

a.profilBarIcon{
	float:right;
	margin:3px;
}

span.user{
	display:block;
	float:left;
	margin-left:3.5%;
	padding:0;
	vertical-align:middle;
	text-transform:capitalize;
	font-size:20px;	
	font-weight:bold;
}
/**************************************/
/*****************CONTENT**************/
/**************************************/

#contentAlign{
	width:90%;
	margin:0 auto;
}

#content{
	width:96%;
	margin-top:30px;
	min-height:300px;
	background:#F3F3F3;
	padding:0.5% 2% 2% 2%;
	float:left;
}
#contentLeft{
	width:50%;
	float:left;
}
#contentLeft.category{
	width:46%;
	padding-right:4%;
	float:left;
}
#calendar {
	
	width:90%;
}
#contentRight{
	width:48%;
	float:left;
}

#list{
	border:1px solid #e1e1e1;
	border-radius:4px;
	padding-bottom:20px;
	background:#fcfcfc;
}

#listCategories{
	width:75%;
	margin:0 auto;
}
/****************************
 *********FOOTER************** 
 ****************************/

#footer{
	width:98%;
	color:#fff;
	padding-top:2%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	font-size: 10px;
	text-align:center;
}

/********************
*		FORM		*
********************/
form {
	width:97%;
	margin-top:15px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:3%;
	border:1px solid #e1e1e1;
	border-radius:5px;
	background:#f3f3f3;
}

.formAlign{
	margin:0 auto;
	width:75%;
}
label {
	display:inline-block;
	text-align:right;
	color:#2B2B28;
	font-weight:bold;
	font-size:14px;
}

/********************
*		INPUT		*
********************/
input,select, textarea{
    background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    font-size: 13px;
    color: #2B2B28;
	padding:4px;
}

input:focus, select:focus, textarea:focus{
	box-shadow: 0 1px 0 #09B336 inset, 0 -1px 0 #B1C601 inset, 1px 0 0 #B1C601 inset, -1px 0 0 #B1C601 inset, 0 0 4px #B1C601;
	outline: none;
}

.columnFiftyPercent input {
	width:95%;
}

input[type=submit]{
	display:inline-block;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 -1px 0 rgba(0,0,0,0.05);
	background:#2B2B28;
	color:#f0f0f0;
}

input[type=submit]:hover{
	cursor:pointer;
	box-shadow:0 0 4px #B1C601;
	border: none;
}

input[type=number]{
	width:100%;
}

#samye_evtbundle_participation {
	font-size:14px;
} 

#samye_evtbundle_event_participation{
	width:87%;
}

select,textarea {
	border:none;
}

textarea {
	font-family:Verdana, Geneva, sans-serif;
	width:95%;
}


#samye_evtbundle_event_dateDeb{
	display:inline-block;
	margin:0;
}
#samye_evtbundle_hours div {
	display:inline-block;
	margin:0;
}

.fc-view {
	border-radius:4px;
}

.fos_user_user_show {
	margin: 24px 0;
	background-color : #fcfcfc;
}

#avatar {
	display:inline-block;
	float:left;
}

#avatar img{
	border-radius:4px;
}

#meta {
	display:inline-block;
	float:left;
	margin-left:20px;
	padding-left:20px;
	width:30%;
	border:1px solid #e1e1e1;
	background:#fcfcfc;
	padding:0 0 5px;
	border-radius:4px;
}

span.metaInfos {
	margin-left:30px;
}

span.metaUser {
	text-transform:capitalize;
}

span.metaTitle {
	display:block;
	margin:10px 0 4px;
	font-weight:bold;
	margin-left:10px;
}

#metaButtonSet {
	margin:20px 10px 0;
	padding:20px 0 0 0;
	border-top:1px solid #e1e1e1;
}

#metaButtonSet a {
	display:inline-block;
	margin-left:20px;
	text-align:center;
	width:40%;
}

